asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==5.1.1
django-cors-headers==4.7.0
django-crispy-forms==2.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
email-validator==2.3.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==10.4.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.1
tzdata==2024.1
urllib3==2.5.0
vercel==0.2.1
whitenoise==6.7.0
